[Desktop Entry]
Encoding=UTF-8
Name=Link to Anki Node Drive UI
Type=Link
URL=http://localhost:7901
Icon=/home/oracle/AnkiNodeDriveUI/images/all.png
Name[en_US]=Anki Node Drive UI
