[Desktop Entry]
Encoding=UTF-8
Name=Link to Anki Node Drive UI
Type=Link
URL=http://localhost
Icon=/home/oracle/AnkiNodeDriveUI/images/all.png
Name[en_AU]=Oracle/Anki Pages
