<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<h1>Lap Position (Time since start of race)</h1>
<table id="lapTable" width="100%" border="1">
  <thead bgcolor="#BBBBBB"><th width="10%">Car</th><th width="6%">1</th><th width="6%">2</th><th width="6%">3</th><th width="6%">4</th><th width="6%">5</th><th width="6%">6</th><th width="6%">7</th><th width="6%">8</th><th width="6%">9</th><th width="6%">10</th><th width="6%">11</th><th width="6%">12</th><th width="6%">13</th><th width="6%">14</th><th width="6%">15</th>
  <tr align="right" bgcolor="#DDDDDD"><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
  <tr align="right" bgcolor="#DDDDDD"><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
  <tr align="right" bgcolor="#DDDDDD"><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
  <tr align="right" bgcolor="#DDDDDD"><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
</table>
<h1>Fastest Lap (Lap time)</h1>
<table id="bestLapTable" width="100%" border="1">
  <thead bgcolor="#BBBBBB"><th width="10%">Car</th><th width="6%">1</th><th width="6%">2</th><th width="6%">3</th><th width="6%">4</th><th width="6%">5</th><th width="6%">6</th><th width="6%">7</th><th width="6%">8</th><th width="6%">9</th><th width="6%">10</th><th width="6%">11</th><th width="6%">12</th><th width="6%">13</th><th width="6%">14</th><th width="6%">15</th>
  <tr align="right" bgcolor="#DDDDDD"><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
  <tr align="right" bgcolor="#DDDDDD"><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
  <tr align="right" bgcolor="#DDDDDD"><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
  <tr align="right" bgcolor="#DDDDDD"><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
</table>